DotNet/ArvaaLuku/bin/**
DotNet/ArvaaLuku/obj/**
DotNet/HelloWorld/bin/**
DotNet/HelloWorld/obj/**
DotNet/Laskin/bin/**
DotNet/Laskin/obj/**
DotNet/ArvaaLuku/.vscode/**
DotNet/HellWorld/.vscode/**
DotNet/Laskin/.vscode/**
DotNet/OlioOhjelmointi/bin/**
DotNet/OlioOhjelmointi/obj/**
DotNet/OlioOhjelmointi/.vscode/**
/DotNet/TiedostonLuku/.vs/TiedostonLuku/v16
/DotNet/TiedostonLuku/TiedostonLuku/bin/Debug
/DotNet/TiedostonLuku/TiedostonLuku/obj
/DotNet/HttpSäätiedot/.vs/HttpSäätiedot/v16
/DotNet/HttpSäätiedot/HttpSäätiedot/bin/Debug/netcoreapp3.1
/DotNet/HttpSäätiedot/HttpSäätiedot/obj
/DotNet/TiedostonLuku/.vs/TiedostonLuku/DesignTimeBuild
/DotNet/HttpSäätiedot/.vs/HttpSäätiedot/DesignTimeBuild
/DotNet/WindowsFormsDemo/.vs/WindowsFormsDemo/v16
/DotNet/WindowsFormsDemo/WindowsFormsDemo/bin/Debug
/DotNet/WindowsFormsDemo/WindowsFormsDemo/obj/Debug
