<h1>Laskin</h1>

<form>
    <div class="form-group">
        <label for="formGroupExampleInput">Luku 1</label>
        <input type="number" class="form-control w-25" name="Luku1">
    </div>
    <div class="form-group">
        <label for="formGroupExampleInput2">Luku 2</label>
        <input type="number" class="form-control w-25" name="Luku2">
    </div>

    <button type="submit" class="btn btn-primary mb-2">Laske</button>
</form>
