<h1>Laskin 2</h1>
<p>Esimerkki JSON/Ajax-tyyppisestä toteutuksesta.</p>

<div class="form-group">
    <label for="formGroupExampleInput">Luku 1</label>
    <input type="number" class="form-control w-25" name="Luku1">
</div>
<div class="form-group">
    <label for="formGroupExampleInput2">Luku 2</label>
    <input type="number" class="form-control w-25" name="Luku2">
</div>

<button type="button" class="btn btn-primary mb-2">Laske</button>

<div style="display: none;" class="alert alert-primary w-25 mt-3" role="alert">
    Summa on: <span id="laskennanTulos">0</span>
</div>
